/* Print styles */
@media print {
  body,
  html,
  #root {
    background: #fff;
    margin: 0;
    padding: 0;
  }

  #print-area {
    display: flex;
    flex-wrap: wrap;
  }

  #print-area > div {
    page-break-inside: avoid;
  }

  .screen-only {
    display: none;
  }
}
