/* Print styles */
@media print {
  body,
  html,
  #root {
    background: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #print-area {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  #print-area > div {
    page-break-inside: avoid !important;
  }

  .screen-only {
    display: none !important;
  }
}
